<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "faq-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :question %>
  <%= text_input f, :question %>
  <%= error_tag f, :question %>

  <%= label f, :answer %>
  <%= text_input f, :answer %>
  <%= error_tag f, :answer %>

  <%= label f, :vote %>
  <%= number_input f, :vote %>
  <%= error_tag f, :vote %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
